@font-face {
  font-family: Mustache;
  src: url(./assets/MustacheBrushScript.woff2);
  font-weight: normal;
}

@keyframes spin {
  0% {transform:rotate(0deg);}
  50% {transform:rotate(180deg);}
  100% {transform:rotate(360deg);}
}

@keyframes spin-back {
  0% {transform:rotate(0deg);}
  50% {transform:rotate(-180deg);}
  100% {transform:rotate(-360deg);}
}

@keyframes move-twinkle-bg {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

body {
  background: #0D121E;
  min-height: 100vh;
  margin: 0;
}

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
}

.stars, .twinkling, .gradient {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background: url(./assets/stars-compressed.png) repeat top center transparent;
  background-size: 1000px 688px;
  z-index: 0;
}

.twinkling{
  background: transparent url(./assets/twinkling-compressed.png) repeat top center;
  background-size: 50px 50px;
  z-index: 1;
  animation: move-twinkle-bg 500s linear infinite;
}

.gradient {
  z-index: 2;
  background: radial-gradient(ellipse at bottom, #0D121E 0%, #090A0F 100%);
  mix-blend-mode: color;
}

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 506px;
  height: 506px;
  z-index: 3;
  font-family: Mustache;
}

.hart-icon {
  display: block;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.main-title {
  position: absolute;
  margin: 0;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 201px;
  text-align: center;
  font-weight: normal;
  line-height: 1;
}

.inner-circle,
.middle-circle,
.outer-circle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inner-circle {
  animation-name: spin;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.middle-circle {
  animation-name: spin-back;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.outer-circle {
  animation-name: spin;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.menu-link {
  padding: 0;
  margin: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border: 0;
  width: auto;
  height: 15px;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 3;
  cursor: pointer;
  border: 0;
  outline: solid transparent !important;
}

.menu-link-top,
.menu-link-bottom {
  display: block;
  height: 5px;
  background: #ffffff;
  transition: all .3s ease;
}

.menu-link-top {
  width: 32px;
}

.menu-link-bottom {
  width: 16px;
}

.menu-link:hover .menu-link-top {
  width: 16px;
}

.menu-link:hover .menu-link-bottom {
  width: 32px;
}
